body {
}

#UserNameDiv, #UserProfileImageDiv {
    text-align: center;
}

#UserProfileImage {
    width: 250px;
    height: 250px;
}

#ProfileImageUpload, #FileImageUpload {
    margin: 0 auto;
}

#UserProfileTable {
    margin: 0 auto;
}

#UserProfileTable {
    padding: 10px;
}

.threediv {
    float: left;
    width: 33%;
    text-align:center;
}

#ImageCaptionLabel {
vertical-align:central;
}
#FeedDiv {
position:relative;
    top: 694px;
    left: -610px;
}